*{
    font-family: 'Poppins', sans-serif;
}
/*--------------------------------
     Header style start
     ------------------------ */
header{
    background-color: #2D25A0;
    margin-bottom: 70px;
    
}
.banner{
   display: grid;
   grid-template-columns: repeat(2,1fr);
    padding-bottom: 100px;
}
.animation{
animation-name: img-banner;
animation-duration: 10s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
position: relative;

}
@keyframes img-banner {
    0%{
        top: 0;
        left: 0;
    }
    50%{
        top: 0;
        right: 10px;
    }
    100%{
        top: 0;
        right: 150px;
    }
}

.left-side{
    width: 50%;
}
.left-side h1{
    font-size: 64px;
    color: white;
    margin-left: 200px;
}
.btn{
    color: white;
    text-decoration: none;
    background: #E02C6D;
    margin-left: 220px;
    padding: 10px 20px;
}
.btn .fas{
    margin-left: 5px;
    color: white;
    font-size: 10px;
}
.fas{
    color: yellow;
}
.right-side{
    width: 50%;
}
.right-side img{
    width: 500px;
    margin-left: 100px;
    margin-top: 90px;
}

/*--------------------------------
     Header style end
     ------------------------ */

/*------------------------------------------
            main section style start
 ----------------------------------------------*/

 /* ----------------------------***************--------------------
                Players Information start 
-----------------------------------------------------------------*/
 
.container{
    width: 1050px;
    margin: auto;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    margin-bottom: 70px;
}
.blog{
    width: 330px;
    height: 474px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 15px;
    transition: transform .7s ease-in-out;
}
.blog:hover{
    transform: scale(1.05);
}

.blog img{
    width: 300px;
    height: 256px;
    padding: 5px;
    display: block;
    margin: auto;
}
.blog h3{
    font-size: 28px;
    margin-left: 20px;
    margin-top: 0px;
}
.blog p{
    margin-top: 0px;
}
 /* ----------------------------***************--------------------
                Players Information start 
-----------------------------------------------------------------*/

/* -----------------------****************----------------------------
                Anothor Blog section For Copa Aamerica start
-------------------------*******************------------------------- */

.copa-america-blog{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(220, 220, 220, 0.809);
    margin-bottom: 100px;
    align-items: center;

}
.copa-blog{
    width: 50%;
    margin: 50px auto;
    padding: 20p;

}
.copa-blog h2{
    font-size: 48px;
    font-weight: 700;
}
.link-2{
    color: white;
    text-decoration: none;
    background: #E02C6D;
    padding: 10px 20px;
}
.link-2 .fas{
    margin-left: 5px;
    color: white;
    font-size: 15px;
    font-weight: ;
}
.copa-america-photo{
    width: 50%s;
}

.blog-photo img{
    width:85%;
    padding: 20px;
}

/* -----------------------****************----------------------------
                Anothor Blog section For Copa Aamerica end
-------------------------*******************------------------------- */

/* -------------****************-----------------
                -*CLUB INFORMATION start
-------------------------*******************------------- */
.club-blog{
    display: flex;
    margin:50px auto;
    border: 2px solid red;
    align-items: center;
}
.right-part{
    width: 50%;
}
.left-part h2{
    font-size: 40px;
}
.right-part img{
    width: 70%;
    border-radius: 50%;
    margin: 3% 5%;
    transition: transform .7s ease-in-out;
    border: 3px solid forestgreen;
}
.right-part:hover .club{
    transform: scale(1.04);
}
.left-part{
margin-top: 10%;
width: 50%;
}
/* -------------****************-----------------
                -*CLUB INFORMATION end
-------------------------*******************------------- */
/*------------------------------------------
            main section style end
 ----------------------------------------------*/



/* ------------------------------------------------
            fooooooooter part start
------------------------------------------------------- */
/*--------------------------------------------
             Login area start
--------------------------------------------------- */
#form{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
    border-radius: 10px;
}
.login-area{
    background-image: url(images/login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
}
.login h3{
    color: white;
    font-size: 40px;
    margin-right: 150px;
}
.input-area label{
    color: white;
    font-size: 20px;
}
.input-area input{
    color:;
    width: 200px;
    border: 2px solid burlywood;
    border-radius: 5px;
    margin-left: 5px;
    padding: 5px 25px;
}
 #submit{
    color: white;
    font-size: 20px;
    width: 110px;
    background-image: linear-gradient(to right bottom, #050d37, #004680, #00839c, #00bd76, #a8eb12);
} 


/*--------------------------------------------
             Login area end
--------------------------------------------------- */

/* ------------------------------------------------
            fooooooooter part css
------------------------------------------------------- */

.footer-text{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo img{
    width: 480px;
    height: 100px;
}
.social-link .fab{
    color: rgb(56, 245, 248);
    font-size: 16px;
    padding: 5px;
    border-radius: 50px;
    background: #969BAB;
}
/* ------------------------------------------------
            fooooooooter part end
------------------------------------------------------- */




/* -------------------------------
    Responsive for Mobile
 -----------------------------*/
@media screen and (max-width: 390px) {
    /* ---------commont part start-----------  */

    .banner, .blogs, .copa-america-blog{
        grid-template-columns: 1fr;
    }
    /* ---------commont part end-----------  */
        /* Banner part start */
    
    .left-side h1{
        margin-left: 10px;
        padding: 5px;
        font-size: 30px;
        
    }
    .btn{
        font-size: 5px;
        margin: 0 5px;
    }
    .right-side img{
        width: 300px;
    }

    .animation{
        animation-name: img-banner;
        animation-duration: 10s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        position: relative;
        
        }
        @keyframes img-banner {
            0%{
                top: 0;
                left: 0;
            }
            50%{
                top: 0;
                right: 10px;
            }
            100%{
                top: 0;
                right: 100px;
            }
        }

     /* Banner part end */

     /* -------Main section start------- */

    /* ------blogs part start----- */

.blogs{
    margin: auto;
}
    
    .blog{
        width: 330px;
        height: 474px;
        margin-top: 20px;
    }
    .blog h3{
        font-size: 20px;
        margin-top: 5px;
    }
    .blog p{
        font-size: 14px;
        margin-top: 5px;
    }
    .blog img{
        width: 200px;
    }

    /* ------blogs part end----- */


    /* copa america blog */

    .copa-america-blog{
        width: 350px;
        margin: 50px 0;
    }
    .copa-blog h2{
        font-size: 20px;
    }
    .link-2{
        font-size:5px;
    }
    .blog-photo img{
        width: 200px;
    }
        /* copa america blog */

        /* club coach information */

    .club-blog{
        display:grid;
        grid-template-columns: 1fr;
        border: none;
    }
    .right-part{
        width: 380px;
    }
    .club{
        width: 250px;
    }
    .left-part{
        width: 350px;
    }
    .left-part h2{
        font-size: 24px;
    }
    /* club coach information */

    /* main section end */

    /* footer-part-with-login-area start  */

    /* login Form start */
    .login-area{
        width: 350px;
    }
    /* login Form end */

    /* foooooter part start */
    .footer-text{
        width: 350px;
    }
    .logo img{
        width: 100px;
    }
    /* foooooter part start */

    
    }
}